<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plato</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <header class="header2">
      <div class="topheader">
        <img src="../static/cbot.jpg" alt="" class="cimg" />
        <h2>BCP Virtual Assistant</h2>
      </div>
    </header>

    <div class="popup">
      <p>
        This site uses cookies. For more information on cookies visit:
        <a href="https://www.google.com">More</a>
      </p>
      <button onclick="dpop()">Accept cookies</button>
    </div>
    <div class="bottom_header">
      <div>
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          heihgt="24"
          width="24"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <rect width="24" height="24" fill="white"></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.9931 3.43368C12.8564 2.42331 11.1436 2.42331 10.0069 3.43368L2.33565 10.2526C1.92286 10.6195 1.88568 11.2516 2.2526 11.6644C2.61952 12.0771 3.25159 12.1143 3.66437 11.7474L4.00001 11.4491L4.00001 17.0658C3.99996 17.9523 3.99992 18.7161 4.08215 19.3278C4.17028 19.9833 4.36903 20.6117 4.87869 21.1213C5.38835 21.631 6.0167 21.8297 6.67222 21.9179C7.28388 22.0001 8.04769 22 8.93418 22H15.0658C15.9523 22 16.7161 22.0001 17.3278 21.9179C17.9833 21.8297 18.6117 21.631 19.1213 21.1213C19.631 20.6117 19.8297 19.9833 19.9179 19.3278C20.0001 18.7161 20.0001 17.9523 20 17.0659L20 11.4491L20.3356 11.7474C20.7484 12.1143 21.3805 12.0771 21.7474 11.6644C22.1143 11.2516 22.0772 10.6195 21.6644 10.2526L13.9931 3.43368ZM12 16C11.4477 16 11 16.4477 11 17V19C11 19.5523 10.5523 20 10 20C9.44772 20 9 19.5523 9 19V17C9 15.3431 10.3431 14 12 14C13.6569 14 15 15.3431 15 17V19C15 19.5523 14.5523 20 14 20C13.4477 20 13 19.5523 13 19V17C13 16.4477 12.5523 16 12 16Z"
              fill="#323232"
            ></path>
          </g>
        </svg>
      </div>
      <a href="">Announcements</a>
      <a href="">Patching</a>
      <a href="">SM Release</a>
      <a href="">OnBoarding </a>
      <a href="">Support </a>
      <a href="">About BCPBot</a>
    </div>

    <div class="section_1-2_img">
      <p>24/7 virtual assistance with BcpBot</p>
      <img src="../static/15.jpg" alt="" class="section_1-2_img_img" />
    </div>

    <div class="section_text">
      <p>
        BCP Virtual Assistant combines intelligent knowledge management services
        with natural language and contextual conversation so that users can
        resolve issues quickly and efficiently.
      </p>
    </div>

    <div class="section_2">
      <div class="s2_1">
        <h2>Deliver fast and accurate responses to users</h2>
        <!-- <ul class="ul"> -->
        <!-- <li>
            <span> Consumer-like experience </span>: BMC Helix Virtual Agent is
            tailored to platforms and devices employees are already using
          </li>
          <li>
            <span> Channel of choice </span>: Communicate in familiar messaging
            tools like Slack, SMS, MS Teams, Skype for Business, and Progressive
            Web
          </li>
          <li>
            <span> Cognitive search </span>: Search across unstructured and
            structured data and across multiple knowledge bases
          </li>
          <li>
            <span> Line of business (LOB) support </span>: Enable specialized
            chat tailored to the needs of each LOB (Operations, HR, Facilities,
            etc.)
          </li>
          <li>
            <span> Service delivery </span>: Simplify and speed delivery of
            services from your BMC Helix Digital Workplace catalog with
            customizable workflows
          </li>
          <li>
            <span> Performance measures </span>: Increase accuracy through
            end-user surveys and Smart Reporting
          </li>
          <li>
            Available with BMC Helix Digital Workplace and BMC Helix Business
            Workflows
          </li> -->
        <!-- </ul> -->
      </div>
      <div class="s2_img_div">
        <img src="../static/12.jpg" alt="" class="cbot_img" />
      </div>
    </div>

    <div class="section3">
      <div class="s3_dot"></div>
    </div>
    <div class="section_4">
      <div class="s4_1">
        <div class="s4_1_1"></div>
        <img src="../static/9.jpg" alt="" class="s4_1_img" />
      </div>
      <div class="s4_2">
        <h2 class="h2s4_2">FAQs</h2>
        <div class="faq_indi">
          <div class="question_svg">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
              height="24"
              width="24"
              onclick="plus(1)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="add-square">
                    <g>
                      <rect
                        data-name="--Rectangle"
                        fill="none"
                        height="20"
                        id="_--Rectangle"
                        rx="2"
                        ry="2"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        width="20"
                        x="2"
                        y="2"
                      ></rect>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="15.5"
                        x2="8.5"
                        y1="12"
                        y2="12"
                      ></line>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="12"
                        x2="12"
                        y1="15.5"
                        y2="8.5"
                      ></line>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="faq_indi_question">What is DBS IDEAL?</div>
          </div>
          <div class="faq_indi_answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat
            sit iure accusamus illo! Corrupti tempora, ipsum quam suscipit magni
            nulla nobis tempore ipsa amet provident iure iste in cum!
          </div>
        </div>
        <div class="faq_indi">
          <div class="question_svg">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
              height="24"
              width="24"
              onclick="plus(2)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="add-square">
                    <g>
                      <rect
                        data-name="--Rectangle"
                        fill="none"
                        height="20"
                        id="_--Rectangle"
                        rx="2"
                        ry="2"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        width="20"
                        x="2"
                        y="2"
                      ></rect>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="15.5"
                        x2="8.5"
                        y1="12"
                        y2="12"
                      ></line>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="12"
                        x2="12"
                        y1="15.5"
                        y2="8.5"
                      ></line>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="faq_indi_question">Where can I find Joy on IDEAL?</div>
          </div>
          <div class="faq_indi_answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat
            sit iure accusamus illo! Corrupti tempora, ipsum quam suscipit magni
            nulla nobis tempore ipsa amet provident iure iste in cum!
          </div>
        </div>
        <div class="faq_indi">
          <div class="question_svg">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
              height="24"
              width="24"
              onclick="plus(3)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="add-square">
                    <g>
                      <rect
                        data-name="--Rectangle"
                        fill="none"
                        height="20"
                        id="_--Rectangle"
                        rx="2"
                        ry="2"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        width="20"
                        x="2"
                        y="2"
                      ></rect>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="15.5"
                        x2="8.5"
                        y1="12"
                        y2="12"
                      ></line>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="12"
                        x2="12"
                        y1="15.5"
                        y2="8.5"
                      ></line>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="faq_indi_question">
              What are the services that we could perform through Joy on IDEAL?
            </div>
          </div>
          <div class="faq_indi_answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat
            sit iure accusamus illo! Corrupti tempora, ipsum quam suscipit magni
            nulla nobis tempore ipsa amet provident iure iste in cum!
          </div>
        </div>
        <div class="faq_indi">
          <div class="question_svg">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
              height="24"
              width="24"
              onclick="plus(4)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="add-square">
                    <g>
                      <rect
                        data-name="--Rectangle"
                        fill="none"
                        height="20"
                        id="_--Rectangle"
                        rx="2"
                        ry="2"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        width="20"
                        x="2"
                        y="2"
                      ></rect>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="15.5"
                        x2="8.5"
                        y1="12"
                        y2="12"
                      ></line>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="12"
                        x2="12"
                        y1="15.5"
                        y2="8.5"
                      ></line>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="faq_indi_question">
              For this new service, are we conversing with a human or systems?
            </div>
          </div>
          <div class="faq_indi_answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat
            sit iure accusamus illo! Corrupti tempora, ipsum quam suscipit magni
            nulla nobis tempore ipsa amet provident iure iste in cum!
          </div>
        </div>
        <div class="faq_indi">
          <div class="question_svg">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
              height="24"
              width="24"
              onclick="plus(5)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="add-square">
                    <g>
                      <rect
                        data-name="--Rectangle"
                        fill="none"
                        height="20"
                        id="_--Rectangle"
                        rx="2"
                        ry="2"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        width="20"
                        x="2"
                        y="2"
                      ></rect>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="15.5"
                        x2="8.5"
                        y1="12"
                        y2="12"
                      ></line>
                      <line
                        fill="none"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="12"
                        x2="12"
                        y1="15.5"
                        y2="8.5"
                      ></line>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="faq_indi_question">
              Do we have to download a new app for this?
            </div>
          </div>
          <div class="faq_indi_answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat
            sit iure accusamus illo! Corrupti tempora, ipsum quam suscipit magni
            nulla nobis tempore ipsa amet provident iure iste in cum!
          </div>
        </div>
      </div>
    </div>
	
    <div class="section_5">
      <div class="team">
<h2>MEET THE TEAM</h2>
		<div class="blueline">
<pre>    </pre>
</div>
       <p> It is a combined effort, everyone in the team contributed towards it and here are the pioneers who put all the efforts to make it happen</p>

</div>
      <div class="s5_2">
       
        
        <div class="s5_2_indi">
          <img src="../static/18.png" alt="" class="s5_img" />
          <div class="s5_2_t_1">Sudipta Chakraborty</div>
          <!-- <div class="s5_2_t_2">Moving out of Covid-19</div> -->
          <div class="s5_2_t_3">
            Chatbot Architect
          </div>
        </div>
        <div class="s5_2_indi">
          <img src="../static/21.jpg" alt="" class="s5_img" />
          <div class="s5_2_t_1">Divya Mishra</div>
          <!-- <div class="s5_2_t_2">Moving out of Covid-19</div> -->
          <div class="s5_2_t_3">
           Devops Engineer
          </div>
        </div>
        <div class="s5_2_indi">
          <img src="../static/22.jpg" alt="" class="s5_img" />
          <div class="s5_2_t_1">Himangshu Rathod</div>
          <!-- <div class="s5_2_t_2">Moving out of Covid-19</div> -->
          <div class="s5_2_t_3">
            Devops Engineer
          </div>
        </div>
    
        


    </div>
    </div>

    <div class="main" id="chatbot">
      <!-- Chat messages will be displayed here -->

      <audio src="../static/msg.mp3" class="msg_audio" id="msg_audio"></audio>
      <audio
        src="../static/msg_sent.mp3"
        class="msg_audio"
        id="msg_audio_s"
      ></audio>

      <div class="top">
        <div class="key" id="assistant_name">
          <img src="../static/bot.png" alt="" class="bot_img_1" />
        </div>
        <div class="assistant" id="assistant_description">
          Your Personal Kotak Assistant
        </div>
        <div class="cross" id="cross">
          <svg
            width="30px"
            height="30px"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 8L8 16M8.00001 8L16 16"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <!-- <div class="options" id="options"></div> -->
      <div class="chat" id="chat">
        <div class="full">
          <img src="../static/bot.png" alt="" class="bot_img" />
          <div class="small">
            <div>Hey, how can i help you?</div>
          </div>
        </div>
        <div class="options" id="options"></div>
        <!-- <div class="full_right">
              <div class="small_right">
                <div>I am still . Do you have any Question?</div>
              </div>
            </div> -->
      </div>
      <div class="bottom">
        <div class="input">
          <input
            type="search"
            placeholder="How may I help You..?"
            name="search"
            id="input"
          />
        </div>

        <div class="send" id="send">
          <svg
            width="20px"
            height="2   0px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.39969 6.32015L15.8897 3.49015C19.6997 2.22015 21.7697 4.30015 20.5097 8.11015L17.6797 16.6002C15.7797 22.3102 12.6597 22.3102 10.7597 16.6002L9.91969 14.0802L7.39969 13.2402C1.68969 11.3402 1.68969 8.23015 7.39969 6.32015Z"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              opacity="0.34"
              d="M10.1094 13.6501L13.6894 10.0601"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="chat_circle" id="chat_circle">
      <div class="cc_on">Click on me</div>
      <!-- <svg
        fill="#5EBEC4"
        viewBox="0 0 24 24"
        id="chat-left-4"
        data-name="Flat Color"
        xmlns="http://www.w3.org/2000/svg"
        class="chat_svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            id="primary"
            d="M4,3H16a2,2,0,0,1,2,2V15a2,2,0,0,1-2,2H14v2a1,1,0,0,1-.51.87A1,1,0,0,1,13,20a1,1,0,0,1-.51-.14L7.72,17H4a2,2,0,0,1-2-2V5A2,2,0,0,1,4,3Z"
            style="fill: #5ebec4"
          ></path>
          <path
            id="secondary"
            d="M17,19h3V8a1,1,0,0,1,2,0V19a2,2,0,0,1-2,2H17a1,1,0,0,1,0-2ZM15,8a1,1,0,0,0-1-1H6A1,1,0,0,0,6,9h8A1,1,0,0,0,15,8ZM5,12a1,1,0,0,0,1,1h8a1,1,0,0,0,0-2H6A1,1,0,0,0,5,12Z"
            style="fill: #2568fb"
          ></path>
        </g>
      </svg> -->

      <svg
        fill="#ffffff"
        viewBox="0 0 256.00098 256.00098"
        id="Flat"
        xmlns="http://www.w3.org/2000/svg"
        class="chat_svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g opacity="0.2">
            <path
              d="M80.00049,144.00048v40a8,8,0,0,0,8,8h96.41709l39.58291,32v-128a8,8,0,0,0-8-8h-40v48a8,8,0,0,1-8,8Z"
            ></path>
          </g>
          <path
            d="M232,96.00049a16.01833,16.01833,0,0,0-16-16H184.001v-32a16.01833,16.01833,0,0,0-16-16h-128a16.01833,16.01833,0,0,0-16,16v128a7.99978,7.99978,0,0,0,13.02929,6.22119L72,153.95038l.001,30.05011a16.01833,16.01833,0,0,0,16,16h93.58789l37.38281,30.22119a7.99979,7.99979,0,0,0,13.0293-6.22119ZM66.55371,137.7793,40.001,159.24561V48.00049h128V87.98114l-.001.01935.001.01935v47.98065H71.583A7.9992,7.9992,0,0,0,66.55371,137.7793Zm122.89356,48a7.99922,7.99922,0,0,0-5.0293-1.77881H88.001l-.001-32h80.001a16.01834,16.01834,0,0,0,16-16v-40H216l.001,111.24512Z"
          ></path>
        </g>
      </svg>
    </div>

    <footer class="footer">
      <div class="f1">
       
        <div class="f11">
          <div>Imprint</div>
          <div>Legal resources</div>
          <div>Privacy notice</div>
          <div>Accessibility</div>
          <div>Complaint management</div>
          <div>Cookies</div>
        </div>
        <div class="f3">
          © 2024 Barclays, Design for APITECH DevOps by Sudipta Chakraborty
        </div>
      </div>
      <div class="f2"></div>
    </footer>

    <!-- <script>
        function displayMessage(sender, message) {
            const chatbot = document.getElementById('chatbot');
            const newMessage = `<p><strong>${sender}: </strong>${message}</p>`;
            chatbot.innerHTML += newMessage;
        }

        function sendMessage() {
            const userInput = document.getElementById('userInput').value;
            displayMessage('You', userInput);
            document.getElementById('userInput').value = '';

            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_input=${userInput}`,
            })
            .then((response) => response.json())
            .then((data) => {
                displayMessage(data.response);
            });
        }
    </script> -->
  </body>

  <script src="../static/options.js"></script>
  <script src="../static/q&a.js"></script>
  <script src="../static/faq.js"></script>
  <script src="../static/deliver.js"></script>

  <script src="../static/index.js"></script>
</html>
